<div class="bg-video">
    <%= video_tag("/assets/videos/City - 3134.mp4", :autoplay => true, :loop => true, :muted => true, style: "width:100%;") %>
</div>
    <header>
        <h2 class="welcome fadein">ようこそ当サイトへ</h2>
    </header>
    <main>
        <div class="intro-top">
            <div class="intro1 int1 fadein">
                <img src="/assets/nayamu3.jpg">
                <p>・今まで、目標が達成できず途中で投げ出してしまった経験はありませんか？<br>
                    ・現在目標が達成できずに困っていませんか？
                </p>
            </div>
            <div class="intro1 int3 fadein">
                <p> ・当サイトではあなたの目標達成を少しだけ手助けをできるかも知れません。<br>
                    ・達成したい目標が決まったら新規投稿してみましょう。<br>
                    ・達成度の入力、コメントなど追記できます...
                </p>
                <img src="/assets/target1.jpg">
            </div>
        </div>
        <div class="intro-bottom">
            <div class="intro2 int4 fadein">
                <p>他の人が投稿した目標にいいねをつけることができます
                </p>
            </div>
            <div class="intro2 int5 fadein">
                <p>投稿された目標に対してコメントをつけることができます
                </p>
            </div>
            <div class="intro2 int6 fadein">
                <p>説明が入ります。説明が入ります
                </p>
            </div>
        </div>
    </main>
    <footer>

    </footer>