<div class="bg-video">
    <%= video_tag("/assets/videos/City - 3134.mp4", :autoplay => true, :loop => true, :muted => true, style: "width:100%;") %>
</div>
    <header>
        <h2 class="welcome fadein">ようこそ当サイトへ</h2>
    </header>
    <main>
        <div class="intro-top">
            <div class="intro1 int1 fadein">
                <%= image_tag asset_path("nayamu3.jpg") %>
                <p>・細々とした目標を立てても忘れてしまったことはありませんか？<br>
                    ・立てても忘れてしまいそうな小さな目標を確認できるサービスは必要ありませんか？
                </p>
            </div>
            <div class="intro1 int3 fadein">
                <p> ・当サイトではあなたの目標達成をほんの少しだけ手助けをできるかも知れません。<br>
                    ・達成したい目標が決まったら新規投稿してみましょう。<br>
                    ・達成度の入力、コメントなど追記できます！
                </p>
                <img src="/assets/target1.jpg">
            </div>
        </div>
        <div class="introduction fadein">
            <h2>当サイトの特徴</h2>
        </div>
        <div class="intro-bottom">
            <div class="intro2 int4 fadein">
                <div class="intro-section">
                    <img src="/assets/heart.jpg" class="int4-img fadein">
                    <h2>いいね 機能</h2>
                    <p>他人の目標にいいねをつけることができます</p>
                </div>
            </div>
            <div class="intro2 int5 fadein">
                <div class="intro-section">
                    <img src="/assets/hukidashi2.jpg" class="int4-img fadein">
                    <h2>コメント 機能</h2>
                    <p>他人の目標にコメントをつけることができます</p>
                </div>
            </div>
            <div class="intro2 int6 fadein">
                <div class="intro-section">
                    <img src="/assets/hyousyou.png" class="int4-img fadein">
                    <h2>ソート機能</h2>
                    <p>目標を名前順、達成度順に並び替えることができます</p>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>